{
    "extends": [
        "standard",
        "plugin:vue/recommended"
    ],
    "plugins": [
        "babel",
        "vue"
    ],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "vue/html-indent": [
            "error",
            4
        ],
        "vue/max-attributes-per-line": [
            "error",
            {
                "singleline": 3
            }
        ],
        "space-before-function-paren": "off",
        "semi": [
            "error",
            "always"
        ],
        "comma-dangle": [
            "error",
            "always-multiline"
        ]
    },
    "globals": {
        "Laravel": false
    },
    "parserOptions": {
        "parser": "babel-eslint"
    }
}
